<navbar></navbar>


    <div class="row">
  <div class="col s12 teal">
    <h2 class="center-align white-text">Asistencia</h2>
  </div>
</div>
<table class="responsive-table-custom striped highlight bordered">

  <thead>
    <tr>
      <td> Estudiantes </td>
      <td ng-repeat="estudiante in estudiantes"> {{estudiante.nombres}} {{estudiante.apellidos}}</td>
      <td> Calificación Final </td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="actividad in actividades">
      <td> {{actividad.nombre}} </td>
      <td ng-repeat="actividad in actividades"> {{actividad.periodo}} </td>

    </tr>
  </tbody>

</table>
  
