<navbar></navbar>
<div class="row">
  <div class="col s12 teal">
    <h2 class="center-align white-text">Asistencias</h2>
  </div>
</div>



<div class="row container">
  <ul class="collapsible popout collection" data-collapsible="accordion">
    <li collection-item avatar ng-repeat="estudiante in estudiantes | filter:buscarEstudiante | orderBy:'identificacion'">

      <!-- TITULO ACORDEON -->
      <div class="collapsible-header">
        <!-- THUMBNAIL -->
        <img src="assets/images/user.png" alt="" class="circle" height="25px">
        <span class="title">{{estudiante.nombres}} {{estudiante.apellidos}} -- {{estudiante.documento}}</span>
      </div>

      <!-- CUERPO ACORDEON -->
      <div class="collapsible-body">
        <div class="row">
          <!-- IMAGEN PRINCIPAL -->
          <div class="col l3 s12 center-align">
            <br><img src="assets/images/user.png" alt="" class="circle" height="150px">
          </div>
           <div class="row">
              <div class="col l3 s12 ">
               <ul>
                 <li ng-repeat="fechaAsistencia in estudiante.periodos[0].areas[0].asignaturas[0].asistencias  track by $index"><div class="col" >{{$index+1}})  {{fechaAsistencia | date:'shortDate'}}</div> 
                  <div class="col"><a class="btn-floating btn-tiny waves-effect waves-light red" ng-click="eliminarFecha(estudiante,$index)"><i class="material-icons">delete</i></a></div>
                  <div class="col"><a class="btn-floating btn-tiny waves-effect waves-light green" ng-click="vista='editar'"><i class="material-icons">assignment</i></a>
                 </div>
                 <br/>
                 <br/>
                 <div class="row">
                             <!-- VISTA EDITAR FECHA DE FALTAS  DE ESTUDIANTE -->
                    <div class="row s1 " ng-show="vista=='editar'">
                      <form class="row" ng-submit="editarFecha(estudiante,$index,fecha)">
                          <!-- INPUT FECHA DE NACIMIENTO -->
                          <div class="input-field row l6 s1">
                            <i class="material-icons prefix">date_range</i>
                            <!-- <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"> -->
                            <input id="fecha_asistencia_editar" type="date" ng-model="fecha">
                            <!-- <label for="date_fecha_nacimiento" data-error="Error" >Fecha de nacimiento</label> -->
                          </div>
                        <div class="row right-align">
                          <button class="btn waves-effect waves-light" type="submit" ng-click="vista='da'">Editar
                            <i class="material-icons right">send</i>
                          </button>
                            <a class="btn  red"  ng-click="vista='da'">Cancelar</a>
                        </div>
                      </form>
                    </div>
                    <!-- FIN CONTENEDOR EDITAR FECHAS DE FATLAS DE ESTUDIANTE -->
                  </div>
                </li> 
               </ul>
              </div>        
           </div>

          <!-- VISTA AGREGAR FECHA DE FALTAS  DE ESTUDIANTE -->
          <div class="col l9 s12 " ng-show="vista=='agregar'">
            <form class="col m12" ng-submit="anadirFecha(estudiante,fecha)">
                <!-- INPUT FECHA DE NACIMIENTO -->
                <div class="input-field col l6 s12">
                  <i class="material-icons prefix">date_range</i>

                  <!-- <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"> -->
                  <input id="fecha_asistencia" type="date" ng-model="fecha">
                  <!-- <label for="date_fecha_nacimiento" data-error="Error" >Fecha de nacimiento</label> -->
                </div>
              <div class="row right-align">
                <button class="btn waves-effect waves-light" type="submit" ng-click="vista='da'">Agregar
                  <i class="material-icons right">send</i>
                </button>
                <a class="btn  red"  ng-click="vista='da'">Cancelar</a>
              </div>
            </form>
          </div>
          <!-- FIN CONTENEDOR AGREGAR FECHAS DE FATLAS DE ESTUDIANTE -->
          
        </div>

         <div class="row">
        <a class="orange btn" ng-click="vista='agregar'">Ingresar Faltas de Asistencia</a>
        </div>
        <!-- FIN CONTENEDOR DE LA LISTA DE FECHAS DE FALTAS DE ASISTENCIAS DE ESTUDIANTE -->
      </div>  
    </li>
  </ul>
</div>


