<nav class="teal" ng-controller="NavbarController">
  <ul class="left hide-on-med-and-down">
    <li><a href="#">Hola {{getCurrentUser().name}}</a></li>
  </ul>
  <ul class="right hide-on-med-and-down">
    <li ng-show="{{item.funcion}}" ng-repeat="item in menu"><a ng-href="{{item.link}}">{{item.titulo}}</a></li>
    <li class="divider"></li>
    <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#">Hola {{getCurrentUser().name}}</a></li>
    <li class="divider"></li>
    <li ng-show="{{item.funcion}}" ng-class="{active: isActive('{{item.link}}')}" ng-repeat="item in menu"><a ng-href="{{item.link}}">{{item.titulo}}</a></li>
    <li class="divider"></li>
    <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<script type="text/javascript">
$(document).ready(function() {
  $('.button-collapse').sideNav({
      menuWidth: 200, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );

});
</script>
