<!-- Barra de navegación -->
<navbar></navbar>

<!-- Barra de Titulo -->
<div class="row">
  <div class="col s12 teal">
    <h2 class="center-align white-text">DESEMPEÑOS</h2>
  </div>
</div>

<!-- Area de Muestra de Desempeños -->
<div class="row container">
  <ul class="collapsible popout collection" data-collapsible="accordion">
    <li collection-item avatar ng-repeat="desempeno in desempenos | orderBy:'nombre'">

      <!-- TITULO ACORDEON -->
      <div class="collapsible-header">
        <!-- THUMBNAIL -->
        <i class="material-icons prefix">label</i>
        <span class="title">{{desempeno.nombre}} -- {{desempeno.tipo}} -- {{desempeno.periodo}}</span>
      </div>


    </li>
  </ul>
</div>

<!-- BOTON PARA AÑADIR UN NUEVO DESEMPEÑO -->
<div class="fixed-action-btn" style="bottom:45px; right:24px;">
  <a class="waves-effect waves-light btn modal-trigger btn-floating btn-large red" href="#modal-desempeno-form" ng-click="showCreateForm()"><i class="large material-icons">add</i></a>
</div>

<div id="modal-desempeno-form" class="modal">
  <div class="modal-content">
    <h4 id="modal-desempeno-title">Crear un nuevo desempeño</h4>
    <div class="row">
      <form class="col m12" ng-submit="crearDesempeno(nuevoDesempeno)">

        <!-- INPUT NOMBRE -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">label</i>
            <input id="input_nombre" type="text" class="validate" ng-model="nuevoDesempeno.nombre" required="" aria-required="true">
            <label for="input_nombre" data-error="wrong" >Nombre Desempeño</label>
          </div>

        </div>

        <div class="row">
            <!-- INPUT PERIODO -->
            <div class="row col s6">
              <label for="input_periodo_select"><h6>Periodo</h6></label>
              <select id="input_periodo_select" class="browser-default validate" ng-model="nuevoDesempeno.periodo" required material-select watch>
                  <option value="" disabled selected>Escoja un periodo</option>
                  <option value="{{periodo}}" ng-repeat="periodo in periodoDesempenos">{{periodo}}</option>
              </select>
            </div>

            <!-- INPUT TIPO -->
            <div class="row col s6">
              <label for="input_tipo_select"><h6>Tipo Desempeño</h6></label>
              <select id="input_tipo_select" class="browser-default validate" ng-model="nuevoDesempeno.tipo" required="" material-select watch>
                  <option value="" disabled selected>Escoja un tipo de desempeño</option>
                  <option value="{{tipo}}" ng-repeat="tipo in tipoDesempenos">{{tipo}}</option>
              </select>
            </div>

        </div>

        <!-- INPUT DESCRIPCION -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <!--input id="input_descripcion" type="textarea" class="validate" ng-model="nuevoDesempeno.descripcion" required="" aria-required="true"-->
            <textarea id="input_descripcion" class="materialize-textarea" ng-model="nuevoDesempeno.descripcion" required="" aria-required="true"></textarea>
            <label for="input_descripcion" data-error="Error" >Descripción</label>
          </div>
        </div>

        <div class="row right-align">

          <button class="btn waves-effect waves-light" type="submit" name="action">Crear
            <i class="material-icons right">send</i>
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
