<navbar></navbar>
<div class="row">
  <div class="col s12 teal">
    <h2 class="center-align white-text">ESTUDIANTES</h2>
  </div>
</div>
<!-- <label for="buscarEstudiante">Buscar estudiante</label> -->
<!-- <input type="text" name="buscarEstudiante" ng-model="buscarEstudiante" placeholder="BUSCAR USUARIO"> -->
<div   ></div>
<div class="input-field col l6 s12">
  <i class="material-icons prefix">book</i>
  <input id="input_buscar" type="text" class="validate" ng-model="buscarEstudiante" required="" aria-required="true">
  <label for="input_buscar" data-error="wrong" >Buscar estudiante</label>
</div>

<div class="row container"  >
  <ul class="collapsible popout collection" data-collapsible="accordion">
   <!-- estudiantes posee todos los estudiantes simplemente se filtra el resultado por periodo y por nombre y si esta matriculado o es egresado -->
   <li collection-item avatar ng-repeat="estudiante in estudiantes|filter:buscarEstudiante">

    <!-- TITULO ACORDEON -->
    <div class="collapsible-header">
      <!-- THUMBNAIL -->
      <img src="assets/images/user.png" alt="" class="circle" height="25px">
      <span class="title">{{estudiante.nombres}} {{estudiante.apellidos}} -- {{estudiante.documento}}</span>
    </div>

    <!-- CUERPO ACORDEON -->
    <div class="collapsible-body">
      <div class="row">
        <!-- IMAGEN PRINCIPAL -->
        <div class="col l3 s12 center-align">
          <br><img src="assets/images/user.png" alt="" class="circle" height="150px">
        </div>

        <!-- VISTA "VER" DE ESTUDIANTE -->
        <div class="col l9 s12 " ng-show="vista=='ver'">
          <br>
          <div class="row">
            <div class="col s10">
              <div class="row">
                <div class="col l2 s4">
                  <strong>  Nombres:</strong>
                </div>
                <div class="col l10 s8">
                  {{estudiante.nombres}}
                </div>
              </div>

              <div class="row">
                <div class="col l2 s4">
                  <strong>  Apellidos:</strong>
                </div>
                <div class="col l10 s8">
                  {{estudiante.apellidos}}
                </div>
              </div>

              <div class="row">
                <div class="col l2 s4">
                  <strong> {{estudiante.tipoDocumento}}:</strong>
                </div>
                <div class="col l10 s8">


                  {{estudiante.documento}}
                </div>
              </div>

              <div class="row">
                <div class="col l2 s4">
                  <strong>  Teléfono:</strong>
                </div>
                <div class="col l10 s8">
                  {{estudiante.telefonos[0].numero}}
                </div>
              </div>

              <div class="row">
                <div class="col l2 s4">
                  <strong>  email:</strong>
                </div>
                <div class="col l10 s8">
                  {{estudiante.email}}
                </div>
              </div>

              <div class="row">
                <div class="col l2 s4">
                  <strong>  Fecha de nacimiento:</strong>
                </div>
                <div class="col l10 s8">
                  {{estudiante.fechaNacimiento | date:'shortDate'}}
                </div>
              </div>

              <div class="row">
                <div class="col l2 s4">
                  <strong>  Dirección:</strong>
                </div>
                <div class="col l10 s8">
                  {{estudiante.direccion}}, {{estudiante.ciudad}}
                </div>
              </div>


            </div>
          </div>
          <a class="orange btn" ng-click="vista='editar'">Actualizar</a>
          <a class="red btn" ng-click="eliminarEstudiante(estudiante)">Eliminar</a>
        </div>
        <!-- FIN CONTENEDOR DEL ESTUDIANTE -->


        <!-- VISTA "EDICION" DE ESTUDIANTE -->
        <div class="col l9 s12 " ng-show="vista=='editar'">
          <form class="col m12" ng-submit="actualizarEstudiante(estudiante)">

            <div class="row">

            <div class="input-field col l6 s12">
              <select ng-model="estudiante.tipoDocumento"
              ng-options="tipoDocumento  for tipoDocumento in tipoDocumentos"material-select watch required>
              <option value="" disabled=""> Seleccione un Tipo de Documento </option>
            </select>
            <label>Tipo de Documento</label>
          </div>
            </div>

            <!-- INPUT IDENTIFICACIÓN -->
            <div class="row">
              <div class="input-field col l6 s12">
                <i class="material-icons prefix">book</i>
                <input id="input_codigo_editar" type="text" class="validate" ng-model="estudiante.documento" required="" aria-required="true">
                <label for="input_codigo_editar" data-error="wrong" class="active">identificación</label>
              </div>

              <!-- INPUT FECHA DE NACIMIENTO -->
              <div class="input-field col l6 s12">
                <i class="material-icons prefix">date_range</i>
                <input type="date" name="name" ng-model="estudiante.fechaNacimiento">

              </div>
            </div>

            <!-- INPUT NOMBRE -->
            <div class="row">
              <div class="input-field col l6 s12">
                <i class="material-icons prefix">account_box</i>
                <input id="input_nombre_editar" type="text" class="validate" ng-model="estudiante.nombres" required="" aria-required="true">
                <label for="input_nombre_editar" data-error="Error" class="active">Nombre</label>
              </div>

              <!-- INPUT APELLIDO -->
              <div class="input-field col l6 s12">
                <!-- <i class="material-icons prefix">face</i> -->
                <input id="input_apellido_editar" type="text" class="validate" ng-model="estudiante.apellidos" required="" aria-required="true">
                <label for="input_apellido_editar" data-error="Error" class="active">Apellido</label>
              </div>
            </div>

            <!-- INPUT TELEFONO -->
            <div class="row">
              <div class="input-field col l6 s12">
                <i class="material-icons prefix">phone</i>
                <input id="input_telefono_editar" type="text" class="validate" ng-model="estudiante.telefonos[0].numero" aria-required="true">
                <label for="input_telefono_editar" data-error="Error" class="active">Teléfono</label>
              </div>

              <!-- INPUT EMAIL -->
              <div class="input-field col l6 s12">
                <i class="material-icons prefix">email</i>
                <input id="input_email_editar" type="email" class="validate" ng-model="estudiante.email" required="" aria-required="true">
                <label for="input_email_editar" data-error="Ingrese una dirección de correo válida" class="active">Email</label>
              </div>
            </div>

            <!-- INPUT CIUDAD -->
            <div class="row">
              <div class="input-field col l6 s12">
                <i class="material-icons prefix">location_city</i>
                <input id="input_ciudad_editar" type="text" class="validate" ng-model="estudiante.ciudad" required="" aria-required="true">
                <label for="input_ciudad_editar" data-error="Error" class="active">Ciudad</label>
              </div>


              <!-- TEXTAREA DIRECCION -->
              <div class="input-field col l6 s12">
                <i class="material-icons prefix">import_contacts</i>
                <textarea id="textarea_direccion_editar" class="materialize-textarea" ng-model="estudiante.direccion" aria-required="true"></textarea>
                <label for="textarea_direccion_editar" class="active">Dirección</label>
              </div>
            </div>

            <div class="row right-align">

              <button class="btn waves-effect waves-light" type="submit" >Actualizar datos
                <i class="material-icons right">send</i>
              </button>
            </div>



          </form>

          <div class="row right-align">

            <button class="btn waves-effect waves-light" type="submit" ng-click = "actualizarEstudianteEgresado(estudiante)">Egresado
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>
        <!-- FIN CONTENEDOR DEL ESTUDIANTE -->


      </div>
    </div>
  </li>
</ul>
</div>


<!-- BOTON PARA CREAR UN ESTUDIANTE -->
<div class="fixed-action-btn" style="bottom:45px; right:24px;">
  <a class="waves-effect waves-light btn modal-trigger btn-floating btn-large red" href="#modal-estudiante-form" ng-click="showCreateForm()"><i class="large material-icons">add</i></a>
</div>

<div id="modal-estudiante-form" class="modal">
  <div class="modal-content">
    <h4 id="modal-estudiante-title">Crear un nuevo estudiante</h4>
    <div class="row">
      <form class="col m12" ng-submit="crearEstudiante(nuevoEstudiante,$index)">
        Tipo de documento: {{estudiante.tipoDoc}}

        <div class="row">

          <!-- <div class="input-field col l6 s12">
            <select ng-model="nuevoEstudiante.tipoDocumento"
            ng-options="tipoDocumento  for tipoDocumento in tipoDocumentos"material-select watch required>
            <option value="" disabled=""> Seleccione un Tipo de Documento </option>
          </select>
          <label>Tipo de Documento</label>
        </div> -->
        <div class="input-field col m6 s12">
          <select class="" ng-model="estudiante.tipoDocumento" material-select watch>
            <option ng-repeat="tipoDoc in tipoDocumentos">{{tipoDoc}}</option>
          </select>
          <label>Tipo Documento</label>
        </div>
      </div>


        <!-- INPUT IDENTIFICACIÓN -->
        <div class="row">
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">book</i>
            <input id="input_codigo_crear" type="text" class="validate" ng-model="nuevoEstudiante.documento" required="">
            <label for="input_codigo_crear">identificación</label>
          </div>

          <!-- INPUT FECHA DE NACIMIENTO -->
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">date_range</i>
            <!-- <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"> -->
            <input id="date_fecha_nacimiento_crear" class="datepicker" type="text" onfocus="(this.type='date')" ng-model="nuevoEstudiante.fechaNacimiento"  required="" aria-required="true">
            <label for="date_fecha_nacimiento_crear" data-error="Error" >Fecha de nacimiento</label>
          </div>
        </div>

        <!-- INPUT NOMBRE -->
        <div class="row">
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">account_box</i>
            <input id="input_nombre_crear" type="text" class="validate" ng-model="nuevoEstudiante.nombres" required="" aria-required="true">
            <label for="input_nombre_crear" data-error="Error" >Nombre</label>
          </div>

          <!-- INPUT APELLIDO -->
          <div class="input-field col l6 s12">
            <!-- <i class="material-icons prefix">face</i> -->
            <input id="input_apellido_crear" type="text" class="validate" ng-model="nuevoEstudiante.apellidos" required="" aria-required="true">
            <label for="input_apellido_crear" data-error="Error" >Apellido</label>
          </div>
        </div>

        <!-- INPUT TELEFONO -->
        <div class="row">
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">phone</i>
            <input id="input_telefono_crear" type="text" class="validate" ng-model="nuevoEstudiante.telefonos.numero" required="" aria-required="true">
            <label for="input_telefono_crear" data-error="Error" >Teléfono</label>
          </div>

          <!-- INPUT EMAIL -->
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">email</i>
            <input id="input_email_crear" type="email" class="validate" ng-model="nuevoEstudiante.email" required="" aria-required="true">
            <label for="input_email_crear" data-error="Ingrese una dirección de correo válida" >Email</label>
          </div>
        </div>

        <!-- INPUT CIUDAD -->
        <div class="row">
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">location_city</i>
            <input id="input_ciudad_crear" type="text" class="validate" ng-model="nuevoEstudiante.ciudad" required="" aria-required="true">
            <label for="input_ciudad_crear" data-error="Error" >Ciudad</label>
          </div>

          <!-- TEXTAREA DIRECCION -->
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">import_contacts</i>
            <textarea id="textarea_direccion_crear" class="materialize-textarea" ng-model="nuevoEstudiante.direccion" required="" aria-required="true"></textarea>
            <label for="textarea_direccion_crear">Dirección</label>
          </div>
        </div>

        <div class="row right-align">

          <button class="btn waves-effect waves-light" type="submit" name="action">Crear
            <i class="material-icons right">send</i>
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
