<div>
    <script type="text/ng-template" id="estudianteGestion.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">{{titulo}}</h3>
        </div>
        <form class="form-horizontal" ng-submit="crearEstudiante()">

        <div class="modal-body">
          <fieldset>

          <!-- Identificación-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textIdentificacion">*Nro. Identificación</label>
            <div class="col-md-6">
            <input ng-model="estudiante.identificacion" id="textIdentificacion" name="textIdentificacion" type="text" placeholder="Ingrese el número de identificación" class="form-control input-md" required>
              </div>
          </div>

          <!-- Nombre-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textNombre">*Nombre</label>
            <div class="col-md-6">
            <input ng-model="estudiante.nombre" id="textNombre" name="textNombre" type="text" placeholder="Ingrese el nombre" class="form-control input-md" required>
            </div>
          </div>

          <!-- Apellido-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textApellido">*Apellido</label>
            <div class="col-md-6">
            <input ng-model="estudiante.apellido" id="textApellido" name="textApellido" type="text" placeholder="Ingrese los apellidos" class="form-control input-md" required>
            </div>
          </div>

          <!-- Fecha de Nacimiento-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="dateFechaNacimiento">*Fecha de nacimiento</label>
            <div class="col-md-6">
            <input type="date" ng-model="estudiante.fecha_nacimiento" id="dateFechaNacimiento" name="dateFechaNacimiento"  class="form-control input-md"  required>
            </div>
          </div>

          <!--Ciudad -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textCiudad">*Ciudad</label>
            <div class="col-md-6">
            <input ng-model="estudiante.ciudad" id="textCiudad" name="textCiudad" type="text" placeholder="Ingrese la ciudad" class="form-control input-md" required>
            </div>
          </div>

          <!--Dirección -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textDireccion">*Dirección</label>
            <div class="col-md-6">
            <input ng-model="estudiante.direccion" id="textDireccion" name="textDireccion" type="text" placeholder="Ingrese la dirección" class="form-control input-md" required>
            </div>
          </div>

          <!--Teléfono -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textTelefono">*Teléfono</label>
            <div class="col-md-6">
            <input ng-model="estudiante.telefono" id="textTelefono" name="textTelefono" type="text" placeholder="Ingrese el teléfono" class="form-control input-md" required>
            </div>
          </div>

          <!--Email -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textEmail">*Email</label>
            <div class="col-md-6">
            <input ng-model="estudiante.email" id="textEmail" name="textEmail" type="email" placeholder="Ingrese su dirección de correo electrónico" class="form-control input-md" required>
            </div>
          </div>


          </fieldset>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">{{textoBoton}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancelar()">Cáncelar</button>
        </div>
      </form>
    </script>
</div>
